.box{
    width: 150px;
    height: 150px;
    margin: 10px;
    background-color: gold;
}

.container{
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-small{
    align-self: center;
}