html *{
    box-sizing: border-box;
}
h1{
    padding: 15px;
    background-color: gold;
    border-top: 5px dashed darkred;
    border-top: 5px double black;
    border-right: 10px ridge;
    border-bottom: 35px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 404);
    font-size: 70px;
}

div{
    height: 200px;
    width: 200px;
    background-color: lightgray;
    margin-bottom: 20px;
    border: 10px solid black;
    border-radius:  10px 20px 30px 40px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 404);
}

.div1{
    border-style: dotted;
}
.div2{
    border-style: dashed;
}
.div3{
    border-style: double;
}